.default-button {
    width: 130px;
    height: 35px;
    border-radius: 40px;
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
    font-weight: 600;
    background-color: #ffffff;
}

.default-button:hover {
    background-color: #ffd700;
    color: white;
    border: none;
}

@media(max-width: 650px) {
    .default-button {
        width: 100px;
        height: 25px;
        border-radius: 40px;
        border: 1px solid grey;
        margin: 5px;
        padding: 5px;
        font-weight: 600;
        background-color: #ffffff;
    }
}
